<Container size="lg" spacing="sm">

  <Button
    type="submit"
    callbackId="open-modal"
    variant="primary">connect!</Button>
</Container>


<Container size="lg" spacing="sm">

  <Button
    type="submit"
    callbackId="auth-voke"
    variant="primary">You are connected!</Button>
</Container>